<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recent comments</title>
  <link rel="stylesheet" href="/static/css/styles.css" />
  <link rel="stylesheet" type= "text/css" 
  href="{{url_for('static', filename='css/style.css')}}" />

</head>
<body>
 
</div>
  <header class="navbar">
    <div class="navbar_brand">
      <img class="navbar_logo" src="/static/logo-kibo.svg" alt="The Kibo logo" />
    </div>
    <ul class="navbar_navigation">
      <li class="navbar_navigation-item">
        <a href="/" class="navbar_link">Blog</a>
      </li>
      <li class="navbar_navigation-item">
        <a href="/recent" class="navbar_link">Recent</a>
      </li>
    </ul>
  </header>
  <main class="main">
    <section>
      <h1>Recent comments</h1>
      
    <section>
      <div id="posts">
     
      {% if  comments[0] is defined  %}
      <table id="posts-table"> 
        <tr>
          <th> Number </th>
          <th> User name </th>
          <th> Comment</th>
          <th> Date</th>
        </tr>
        <tbody id="posts-tbody">
       
         </tbody>
      {% else %}
      <p> There are no comments on this post at the moment</p>
      {%endif%}

    </table>
    </div>
    </section>
  </main>
  <footer class="footer">
    <div class="footer_content">
      <section class="left">
        <a class="footer_item">Made by Your name</a>
      </section>
  
        <div class="footer_column">
          <span class="footer_item" href="#">228 Park Avenue South, New York, NY</span>
          <span class="footer_item">   hello@kibo.school</span>
          <span class="footer_item">       (+1)-833-984-1991</span>
        </div>
      </section>
    </div>
  </footer>
  <script src="static/js/script.js"></script>
</body>
</html>
